.about-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    position: absolute;
    top: 45%;
    text-align: center;
    color: white;
    text-shadow: 3px 3px #ff0000;
}

.about-text h1 {
    font-size: 4rem;
    letter-spacing: 5px;
}

.about-text:hover {
    text-shadow: 3px 3px black;
}

.about-content {
    display: flex;
    padding: 4rem;
}

.about-content img {
    width: 50%;
    padding-right: 2rem;
    
}

.about-content-description {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.about-content-description h2, 
.about-content-description p{
    padding: 2rem 0;
}
