.footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    color: var(--highlight-color);
}

.footer-content h1, 
.footer-content h2 {
    margin: 10px;
    text-align: center;
}

.footer input {
    margin: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff5f0;
}

.copy {
    position: relative;
    bottom: 0;
    color: var(--highlight-color);
    padding: 0;
    font-size: 0.8rem;
}

@media screen and (max-width: 990px) {
    .footer-content {
        padding: 3rem 0;
        font-size: 0.8rem;
    }
}