* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Abril Fatface', cursive;
  --highlight-color: rgb(193, 21, 21);
  --white-color: #fff5f0;
  --main-color: rgb(38, 64, 34);
  /* font-family: 'Fredoka One', cursive; */
  /*font-family: 'Quicksand', sans-serif;*/
}



